$light-text : rgb(214, 214, 214);
$packet-yellow: rgb(233, 119, 27);
$dark: rgb(26,26,26);
$semi-white: rgb(236, 236, 236);
$shift: 900px;
$shift-sm: 720px;
$dark-transparant: rgba(26, 26, 26, 0.932);
