@import "variables";
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    color: $light-text;
    align-items: center;
    padding:0 10%;
    height: 100px;
    flex-wrap: wrap;
    position:fixed!important;
    width: 100vw;
    max-width: 100%;
    z-index: 20;
    top:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: height 0.5s ease;
    @media (max-width: 1100px){
        padding: 0 1vw;
        padding-right: 150px;
    }
    @media(max-width: $shift){
        justify-content: center;
        padding:0;
    }
}

.logo{
    width:auto;
    height:70px;
    cursor: pointer;
}

.extra{
    background-color: $dark-transparant;
    height: 80px;
    padding-top:0;
    padding-bottom: 0;
    transition: 0.5s ease;
    backdrop-filter: blur(10px);
}

.links{
    display: flex;
    li{
        list-style: none;
        cursor: pointer;
        margin: 20px;
        text-decoration: none;
        color: $light-text;
        font-family: 'Crafty Girls', cursive;
        font-size: 1.1rem;
        position:relative;
        &::after{
            content: "";
            position: absolute;
            width: 0px;
            height:2px;
            bottom:-10px;
            left:50%;
            background: rgb(237,62,191);
            background: linear-gradient(90deg, rgba(237,62,191,1) 0%, rgba(241,102,34,1) 33%, rgba(238,61,35,1) 100%);
        }
        &:hover{
            color: $bg-color;
            &::after{
                width:100%;
                transform: translateX(-50%);
                transition: width 0.2s ease;
            }
        }
    }
    
}
.navLinks{
    @media (max-width: $shift){
        display: none;
    }
}

.sidebar{
    position: fixed;
    min-width: 50vw;
    height: 100vh;
    width:auto;
    background-color: $dark;
    z-index: 30;
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    div{
        padding-top: 100px;
        height: 90vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.sidebarEnter{
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.ham{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 15px;
    width: 70px;
    height: 70px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    z-index: 50;
    border: none;
    &:focus{
        outline: 0;
    }
    img{
        width: 40px;
        height: 40px;
    }
    @media (min-width: $shift){
        display: none;
    }
}

.lang{
    position: absolute;
    top:10px;
    right: 50px;
    width: 35px;
    height: 35px;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Dawning of a New Day', cursive;
    background-color: transparent;
    color: aliceblue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 4px 8px 15px rgba(209, 115, 27, 0.568),
                -2px 0px 5px rgba(209, 115, 27, 0.568);
    transition: background-color 0.3s ease,
                color 0.3s ease;
    @media (max-width: 720px){
        right: 10px;
    }
}
.lang:hover{
    background-color: $bg-color;
    color: black;
    transition: background-color 0.3s ease,
               color 0.3s ease;
}
.lang:focus{
    outline:none;
}