@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    flex-wrap: wrap;
}

.productCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
    width: 60vw;
    min-width: 800px;
    font-family: 'Crafty Girls', sans-serif;
    color: rgb(85, 85, 85);
    &:nth-child(2) {
        img {
            order: 2;
        }
        div {
            order: 1;
        }
    }
    img {
        width: 400px;
    }
    p {
        font-size: 1.3rem;
        font-weight: 600;
        text-align: justify;
        padding: 40px;
        @media (max-width: $shift-sm){
            font-size: 20px;
        }
    }
    h1 {
        font-size:34px;
        margin: 20px;
        font-family: 'Coda Caption', sans-serif;
    }
    &:nth-child(1){
        h1{color: #296db0;}
    }
    &:nth-child(2){
        h1{color:#b8753d;}
    }
    &:nth-child(3){
        h1{color: #2d9146;}
    }
    @media (max-width: 800px) {
        flex-direction: column;
        width: 100vw;
        min-width: 0;
        margin: 100px 0;
        img {
            width: 80vw;
            order: 2;
        }
        div {
            order: 1;
            p{
                word-wrap: break-word;
                overflow-wrap: break-word;
            }
        }
    }
}