@import "variables";
.main {
    width: 100vw;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 50px;
    justify-content: center;
    flex-wrap: wrap;
    @media(max-width: $shift-sm){
        padding-top: 5vw;
        padding-bottom: 10px;
    }
}

.packet {
    width: 10vw;
    max-width: 200px;
    height: auto;
    cursor: pointer;
    z-index: 10;
    margin: 0 3vw;
    @media (max-width: $shift-sm){
        width: 15vw;
        margin:10px;
        align-items: center;
    }
}

.modal {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(26, 26, 26);
    transform: translateY(100%);
    transition: transform .3s ease;
}

.modalEnterDone{
    transform: translateY(0);
    transition: transform .3s cubic-bezier(.29,.72,.09,1);
}
.modalExitDone{
    transform: translateY(100%);
    transition: transform .3s ease;
}