.main {
    width: 100vw;
    height: 0;
    padding-top: 25%;
    background-color: black;
    @media(max-width: 1200px){
        height: 40vh;
        padding: 0;
    }
    @media(max-width: 720px){
        height: 60vh;
        padding:0;
    }
}